*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
}
.cabeçalho{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20px;
    border: solid rgb(61, 179, 248);
    box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 15px rgba(0, 0, 0, 0.19);
}
.foto{
    width: 150px;
}
.divisao{
    list-style-type: circle;
    border: solid rgb(163, 162, 162);
    margin-top: 15px;
    margin-left: auto;
    
}
.link{
    text-decoration: none;
    text-shadow: none;
    color: black
}
.link:hover{
    text-decoration: none;
    color: red
}
.alic{
    text-align: justify;
    padding-left: 350px;
    margin-top: -10px;
}
.pagina{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.tabelas{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    width: 100%;
}
.tdivisao1,.tdivisao2{
    width: 50%;
}
.tdivisao1{
    list-style-type: circle;
    border: solid rgb(163, 162, 162);
    margin-top: 15px;
}
.tdivisao2{
    list-style-type: circle;
    border: solid rgb(163, 162, 162);
    margin-top: 15px;
}
th{
    text-align: left;
    color: gray;
}
td{
    text-align: center;
}
legend{
    color: rgb(0, 160, 160);
}
.t1{
    text-align: left;
}

